<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <meta name="author" content="Sanjitha Govindan">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Sanjitha Govindan Professional Website">

    <title>Sanjitha Govindan</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body style="font-family:Arial">
    <h1 id="fun">Sanjitha Govindan</h1>
    <nav>
        <a href="../index.html">Home</a>
        <a href="cv.html">CV</a>
        <a href="contact.html">Contact</a>
        <a href="fun.html">For Fun</a>
    </nav>

    <div class="main">
        <h2>Things I love to do for fun</h2>
        <ul>
            <li>Hiking with my friends and family</li>
            <li>Baking (especially cakes and cookies)</li>
            <li>Learning new pieces on the piano</li>
        </ul>
    </div>
    <footer>© 2025 designed and coded by Sanjitha Govindan</footer>

</body>
</html>
