<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="author" content="Sanjitha Govindan">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Sanjitha Govindan Professional Website">
    <title>Sanjitha Govindan</title>
</head>
<body style="font-family:Arial">
    <h1>Sanjitha Govindan</h1>
    <nav>
        <a href="../index.html">Home</a>
        <a href="cv.html">CV</a>
        <a href="contact.html">Contact</a>
        <a href="fun.html">For Fun</a>
    </nav>

    <div class="main">
        <h2>Contact Me</h2>
        <form>
            <label for="name">    Name:     </label>
            <input type="text" id="name" name="name"><br>
            <label for="email">   Email:     </label>
            <input type="text" id="email" name="email"><br>
            <label for="comment">Comment: </label>
            <input type="text" id="comment" name="comment" style="height:50px;"><br>
            <input type="submit" value="Submit">
        </form>
        <table>
            <tr>
                <th>Email:</th>
                <td><a href="mailto:sanjithg@andrew.cmu.edu">sanjithg@andrew.cmu.edu</a></td>
            </tr>
            <tr>
                <th>Phone:</th>
                <td>(916) 385-9173</td>
            </tr>
            <tr>
                <th>LinkedIn:</th>
                <td><a href="https://www.linkedin.com/in/sanjitha-govindan/">https://www.linkedin.com/in/sanjitha-govindan/</a></td>
            </tr>
            
        </table>
        <footer>© 2025 designed and coded by Sanjitha Govindan</footer>
    </div>
</body>
</html>
